<app-admin-header 
    [title]="'Categories'"
    [subtitle]="'Manage forum categories'">
 </app-admin-header>

<div fxLayout='row' fxLayoutGap='15px'>
    <div fxFlex='200px' fxLayout='column' fxLayoutAlign='center start' class='side-list'>
        <div *ngFor='let category of categories' style='width: 100%'>
            <button mat-button (click)='selectCategory(category)'>{{category.name}}</button>
        </div>
        <hr>
        <button mat-button (click)='selectNewCategory()' color='primary'>New Category</button>
    </div>

    <!-- Edit -->
    <div fxFlex *ngIf='selectedCategory && !creatingNewCategory'>
        <form fxLayout="column" [formGroup]="editFormGroup" (submit)="editCategory(selectedCategory, name.value)">
            <mat-form-field class="full-width">
                <input matInput placeholder="Name" formControlName="nameCtrl" [(ngModel)]='selectedCategory.name' #name>
            </mat-form-field>
        
            <div fxLayoutGap="10px">
                <button *ngIf="!editLoading" mat-raised-button [disabled]="!editFormGroup.valid" color="primary" type="submit" autofocus>Submit</button>
                <button *ngIf="!deleteLoading" mat-raised-button color="warn" type='button' (click)='deleteCategory(selectedCategory)'>Delete</button>

                <mat-spinner *ngIf="editLoading" [diameter]="26"></mat-spinner>
            </div>
        </form>
    </div>

    <!-- Create -->
    <div fxFlex *ngIf='creatingNewCategory'>
        <form fxLayout="column" [formGroup]="createFormGroup" (submit)="createCategory(name.value)">
            <mat-form-field class="full-width">
                <input matInput placeholder="Name" formControlName="nameCtrl" #name>
            </mat-form-field>
        
            <div fxLayoutGap="10px">
                <button *ngIf="!createLoading" mat-raised-button [disabled]="!createFormGroup.valid" color="primary" type="submit" autofocus>Create</button>
                <mat-spinner *ngIf="createLoading" [diameter]="26"></mat-spinner>
            </div>
        </form>
    </div>
</div>