<app-admin-header 
    [title]="'Roles'"
    [subtitle]="'Manage forum roles'">
 </app-admin-header>

<div fxLayout='row' fxLayoutGap='15px'>
    <div fxFlex='200px' fxLayout='column' fxLayoutAlign='center start' class='side-list'>
        <div *ngFor='let role of roles' style='width: 100%'>
            <button [style.background-color]="role == selectedRole ? '#dcdcdc' : null" mat-button (click)='selectRole(role)'>{{role.name}}</button>
        </div>
        <hr>
        <button mat-button (click)='selectNewRole()' color='primary'>New Role</button>
    </div>

    <!-- Edit -->
    <div fxFlex *ngIf='selectedRole && !creatingNewRole'>
        <form fxLayout="column" [formGroup]="editFormGroup" (submit)="editRole(selectedRole, name.value)">
            <mat-form-field class="full-width">
                <input matInput placeholder="Name" formControlName="nameCtrl" [(ngModel)]='selectedRole.name' #name>
            </mat-form-field>
        
            <div fxLayoutGap="10px">
                <button *ngIf="!editLoading" mat-raised-button [disabled]="!editFormGroup.valid" color="primary" type="submit" autofocus>Submit</button>
                <button *ngIf="!deleteLoading" mat-raised-button color="warn" type='button' (click)='deleteRole(selectedRole)'>Delete</button>

                <mat-spinner *ngIf="editLoading" [diameter]="26"></mat-spinner>
            </div>
        </form>
    </div>

    <!-- Create -->
    <div fxFlex *ngIf='creatingNewRole'>
        <form fxLayout="column" [formGroup]="createFormGroup" (submit)="createRole(name.value)">
            <mat-form-field class="full-width">
                <input matInput placeholder="Name" formControlName="nameCtrl" #name>
            </mat-form-field>
        
            <div fxLayoutGap="10px">
                <button *ngIf="!createLoading" mat-raised-button [disabled]="!createFormGroup.valid" color="primary" type="submit" autofocus>Create</button>
                <mat-spinner *ngIf="createLoading" [diameter]="26"></mat-spinner>
            </div>
        </form>
    </div>
</div>