<div *ngIf='loading'>Loading...</div>
<div *ngIf='!loading'>
    <div fxFlex='200px' fxLayout='column' fxLayoutAlign='start start' class='side-list'>
        <div style='width: 100%'>
            <button [style.background-color]="false ? '#dcdcdc' : null" mat-button routerLink="/forums">What's New?</button>
        </div>
        <div *ngFor='let category of categories' style='width: 100%'>
            <button [style.background-color]="false ? '#dcdcdc' : null" mat-button routerLink="/forums/{{category._id}}">{{category.name}}</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>