<div *ngIf='category' class='category-title-wrapper'>
    <h2 class='category-title'>{{topic.category.name}}
        <span class='category-subtitle'>{{topic.category.desc}}</span>
    </h2>
</div>

<form fxLayout="column" [formGroup]="createFormGroup" (submit)="submit(editor.content)">
    <app-editor #editor></app-editor>

    <div fxLayoutGap="10px" style='padding-top: 15px'>
        <button *ngIf="!createLoading" mat-raised-button [disabled]="!createFormGroup.valid" color="primary" type="submit" autofocus>Submit</button>
        <mat-spinner *ngIf="createLoading" [diameter]="26"></mat-spinner>
    </div>
</form>

