.sidebar {
    background-color: #262d32;
    min-width: 125px;
}

.mat-nav-list a {
    color: #fff;
    font-size: 12px;
}

mat-sidenav-content {
    min-height: 600px;
}

.wrapper {
    margin: 0 20px;
}