.user-search-wrapper {
    padding: 15px;
    background-color: #eee;
}

.avatar {
    width: 32px;
    height: 32px;
    margin-right: 15px;
}

.user {
    padding: 10px;
    border-radius: 4px;
    background-color: #eee;
    margin: 5px;
    min-width: 200px;
    max-width: 400px;
}