<div *ngIf='category' class='category-title-wrapper'>
    <h2 class='category-title'>{{category.name}}
        <span class='category-subtitle'>{{category.desc}}</span>
    </h2>
</div>

<form fxLayout="column" [formGroup]="createFormGroup" (submit)="submit(title.value)">
    <mat-form-field class="full-width">
        <input matInput placeholder="Title" formControlName="titleCtrl" #title>
    </mat-form-field>

    <div [froalaEditor]='config' [(froalaModel)]="content" class='editor'></div>

    <div fxLayoutGap="10px" style='padding-top: 15px'>
        <button *ngIf="!createLoading" mat-raised-button [disabled]="!createFormGroup.valid" color="primary" type="submit" autofocus>Submit</button>
        <mat-spinner *ngIf="createLoading" [diameter]="26"></mat-spinner>
    </div>
</form>

<hr>

<div [froalaView]="content"></div>