
<div fxFlex="100px" fxLayout="column">
    <mat-card>
        <mat-card-content>
            <form fxLayout="column" [formGroup]="formGroup" (submit)="create(name.value, subdomain.value)">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Pick a community name" formControlName="nameCtrl" #name>
                </mat-form-field>
    
                <mat-form-field class="full-width">
                    <input matInput placeholder="Choose a unique hostname" formControlName="subdomainCtrl" #subdomain>
                </mat-form-field>
    
                <br>
    
                <div fxLayoutAlign='end center' fxLayoutGap="10px">
                    <button *ngIf="!loading" mat-raised-button [disabled]="!formGroup.valid" color="primary" type="submit" autofocus>Create</button>
                    <mat-spinner *ngIf="loading" [diameter]="26"></mat-spinner>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>