<!-- Single Category Title -->
<!-- <div *ngIf='category' class='category-title-wrapper'>
    <h2 class='category-title'>{{category.name}}
        <span class='category-subtitle'>{{category.desc}}</span>
    </h2>
</div> -->
<!--  -->
<!-- What's New Title -->
<!-- <div *ngIf='recent' class='category-title-wrapper'>
    <h2 class='category-title'>What's New?
        <span class='category-subtitle'>Description</span>
    </h2>
</div> -->


<mat-toolbar>
    <button *ngIf='category' mat-raised-button color='primary' routerLink='/forums/{{category._id}}/new'>New Topic</button>
    <span style='flex: 1 1 auto;'></span>
    <mat-paginator 
        [length]="length" 
        [pageSize]="pageSize" 
        [pageSizeOptions]="pageSizeOptions" 
        (page)="pageEvent = $event"></mat-paginator>
        
    <!-- <button *ngIf='category' fxHide.lt-md mat-raised-button color='primary' routerLink='/forums/{{category._id}}/new'>New Topic</button> -->
</mat-toolbar>

<div *ngIf='loadingTopicListings'>
    <p>Loading</p>
</div>

<div *ngIf='!loadingTopicListings' class='topic-listing-wrapper'>
    <!-- Topic Listing Header -->
    <div fxLayout='row' class='topic-listing-header'>
        <div fxFlex='30px' fxHide.xs></div>
        <div fxFlex='20%'>
            <strong>Topic</strong>
        </div>
        <span class='fill-remaining-space'></span>
        <div fxFlex='20%' fxFlex.xs>
            <strong>Latest</strong>
        </div>
        <div fxFlex fxLayoutAlign='center start'>
            <strong>Posts</strong>
        </div>
        <div fxFlex fxHide.xs fxLayoutAlign='center start'>
            <strong>Views</strong>
        </div>
    </div>
    
    <app-topic-listing *ngFor='let topicListing of topicListings' [topic]='topicListing'></app-topic-listing>
</div>