.title small {
    font-size: 16px;
    color: #777;
    font-weight: normal;
}

.title {
    margin-bottom: 15px;
}

.post-title-wrapper {
    border-bottom: 1px solid #eee;

    margin-bottom: 20px;
}

.reply-button {
    margin-bottom: 10px;
}