.avatar {
    margin-right: 5px;
}

.post-user {
    font-size: 14px;
}

.post-time {
    font-size: 12px;
}

.post-wrapper {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;

    margin-bottom: 20px;
}