<div class='post-wrapper'>
    <div class='post-header' fxLayout='row'>
        <img style='width: 32px; height: 32px' class='avatar' src="https://minotar.net/helm/Luuke/32.png">
        <div fxLayout='column'>
            <div>
                <a class='post-user' routerLink='/u/{{post.user.name}}' class='user-name'>{{post.user.name}}</a>
                <app-user-role-tag *ngFor='let role of post.user.roles' [role]='role'></app-user-role-tag>
            </div>
            <span class='post-time'>posted 1 hour ago </span>
        </div>
    </div>
    <div class='post-content'>
        <div [froalaView]="post.content"></div>
    </div>
</div>