.title-wrapper {
    // margin-left: 20px;
    border-bottom: 1px solid #eee;
    margin: 15px;
}

.title {
    margin: 10px;
}

.subtitle {
    color: #999;
    font-size: 22px;
    font-weight: normal;
    margin-left: 5px;
}