.topic-listing-latest img {
    margin-right: 5px;
}

.latest-name,
.latest-time,
.topic-time {
    font-size: 14px;
}

.wrapper {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}