a {
    color: #08c;
    text-decoration: none;
}

.avatar {
    border-radius: 3px;
}

.topic-listing-header {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.topic-listing-latest img {
    margin-right: 5px;
}

.latest-name,
.latest-time,
.topic-time {
    font-size: 14px;
}