
<!-- Topic Listing Header -->
<div fxLayout='row' class='topic-listing-header'>
    <div fxFlex='30px' fxHide.xs></div>
    <div fxFlex='20%'>
        <strong>Topic</strong>
    </div>
    <span class='fill-remaining-space'></span>
    <div fxFlex='20%' fxFlex.xs>
        <strong>Latest</strong>
    </div>
    <div fxFlex fxLayoutAlign='center start'>
        <strong>Posts</strong>
    </div>
    <div fxFlex fxHide.xs fxLayoutAlign='center start'>
        <strong>Views</strong>
    </div>
</div>

<!-- Topic Listing -->
<div fxLayout='row'>
    <div fxFlex='30px' fxHide.xs></div>
    <div fxFlex='20%' fxLayout='column'>
        <a routerLink='/forums/t/{{topic._id}}'>{{topic.title}}</a>
        <small>
            <a class='topic-author' routerLink='/u/{{topic.user.name}}'>{{topic.user.name}}</a>
            <span class='topic-time'>3 hours ago</span>
        </small>
    </div>
    <span class='fill-remaining-space'></span>
    <div fxFlex='20%' fxFlex.xs fxLayout='row' class='topic-listing-latest'>
        <img style='width: 32px; height: 32px' class='avatar' src="https://minotar.net/helm/Luuke/32.png">
        <div fxLayout='column'>
            <a routerLink='/u/{{latestPost.user.name}}' class='latest-name'>{{latestPost.user.name}}</a>
            <a routerLink='/forums/t/{{topic._id}}?post=/{{latestPost._id}}' class='latest-time'>3 minutes ago</a>
        </div>
    </div>
    <div fxFlex fxLayoutAlign='center start'>
        <strong>{{topic.replyCount}}</strong>
    </div>
    <div fxFlex fxHide.xs fxLayoutAlign='center start'>
        <strong>{{topic.views}}</strong>
    </div>
</div>